/* You can add global styles to this file, and also import other style files */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(207, 207, 207);
}

.form-control {
  background: transparent;
  border-color: #949494;
}
